<mat-sidenav-container fxFlexFill>
    <!-- Navigation -->
    <mat-sidenav fxLayout="column" mode="side" opened>
        <app-todo-nav></app-todo-nav>
    </mat-sidenav>

    <!-- Content -->
    <mat-sidenav-content>
        <ng-template #list let-todos>
            <form [formGroup]="todoFormGroup" (ngSubmit)="addTodo()">
                <mat-form-field class="todo-title-field">
                    <input matInput formControlName="title" placeholder="TODO" />
                    <mat-error *ngIf="todoFormGroup.invalid">
                        enter at least 2 characters
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="todo-description-field">
                    <textarea matInput formControlName="description" placeholder="Description"></textarea>
                </mat-form-field>
                <button
                    class="add-todo-button"
                    type="submit"
                    [disabled]="todoFormGroup.invalid"
                    mat-raised-button
                    color="primary"
                >
                    Add TODO
                </button>
            </form>

            <mat-card *ngFor="let todo of todos" class="todo" [class.completed]="todo.isCompleted">
                <mat-card-title class="todo-title">{{ todo.title }}</mat-card-title>
                <mat-card-subtitle class="todo-description">
                    {{ todo.description }}
                </mat-card-subtitle>
                <mat-checkbox (click)="toggleTodoComplete(todo.id)">Complete</mat-checkbox>
                <button (click)="deleteTodo(todo.id)" mat-button color="warn" class="delete-todo-button">
                    Delete
                </button>
            </mat-card>
        </ng-template>

        <!-- Loading indicator -->
        <ng-template #loading>Loading...</ng-template>
        <ng-container
            *ngTemplateOutlet="(isLoaded$ | async) ? list : loading; context: { $implicit: todos$ | async }"
        >
        </ng-container>
    </mat-sidenav-content>
</mat-sidenav-container>
